

body{
    --bs-gutter-x: 0rem;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0em;
    font-family: "Avenir Next W01", "Avenir Next W00", "Avenir Next", "Avenir", "Helvetica Neue", "Roboto", serif;
    line-height: 1.5;
    color: #4c4c4c;
    background-color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    -webkit-font-feature-settings: "kern";
    -moz-font-feature-settings: "kern";
    font-feature-settings: "kern";
    font-kerning: normal;
    text-rendering: optimizeLegibility;
    -moz-font-feature-settings: 'liga= 1','calt=0';
    -moz-font-feature-settings: "liga" 1,"calt" 0;
    -webkit-font-feature-settings: "liga" 1,"calt" 0;
    -ms-font-feature-settings: 'liga= 1','calt=0';
    -o-font-feature-settings: "liga" 1,"calt" 0;
    font-feature-settings: "liga" 1,"calt" 0;

}
.row{
    --bs-gutter-x: 0rem;
}

@font-face {
    font-family: 'Avenir Next W01';
    src: url('webfonts_/AvenirNextLTPro-Regular.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Avenir Next W00';
    src: url('webfonts_/AvenirNextLTPro-Bold.otf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.font-size-18{
    font-size: 18px;
}

h1, h2, h3, h4, h5{
    font-family: "Avenir Next W00", "Roboto", serif !important;
}
.font-impenetrable{
    font-family: "Avenir Next W00", "Roboto", serif;
}


.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        max-width: unset;
    }


.bg-success {
    background-color: #009f1a !important;
}


.impenetrable-backgound{
    background:
        url(../img/fondo.jpeg);
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
}



.nav-items{
    font-weight: 560;
}


.div-opacity-70{
    background-color: rgb(50 84 50 / 70%);
}

.slider-home{
    background: url(../img/hojas_fondo.jpg);
    background-repeat: repeat-x;
    background-blend-mode: hard-light;
}
.slider-home-item{
    filter: contrast(150%);
}

.owl-item{
    filter: grayscale(1);
}
.center{
    filter: unset;
}


.container-background-lightgray{
    background-color: #f3f6ff
}

.padding-10{
    padding-left: 10%;
    padding-right: 10%;
}

.padding-15{
    padding-left: 15%;
    padding-right: 15%;
}

.padding-20{
    padding-left: 20px;
    padding-right: 20px;
}

.padding-top-bottom-20{
    padding-top: 20px;
    padding-bottom: 20px;
}



.bs-white{
    background-color: white;
}

.text-title{
    color: #1c6424;
}
.text-gray{
    color: #484747;
}
.margin-bottom{
    margin-bottom: 10px;
}
.div-fotenoot{
    margin: 0 auto;
    background-color: #cdcdcde0;
    padding: 15px 15px 15px 15px;
    margin-bottom: 15px;
    font-size: 12px;
}

.dropdown-item:hover{
    background-color: rgb(0 38 6 / 96.3%);
    color: white;
    font-weight: bold;
}


li a:hover{
    text-decoration: underline;
}




/** main-footer **/

.main-footer{
    position: relative;
    background: #22262e;
    color: #d4dae3;
    padding: 133px 0px 121px 0px;
}
.main-footer .widgets-section{
    position: relative;
}

#container_footer{
    background: url(../img/footer-pattern.png);
    background-repeat: no-repeat;
    background-position: center;

}
.main-footer .widgets-section:before{
    position: absolute;
    content: '';
    background: url(../img/footer-pattern.png);
    left: 40%;
    top: -45px;
    width: 100%;
    height: 100%;
    min-height: 322px;
    background-repeat: no-repeat;
    animation-name: float-bob;
    animation-duration: 45s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: float-bob;
    -webkit-animation-duration: 45s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: float-bob;
    -moz-animation-duration: 45s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: float-bob;
    -ms-animation-duration: 45s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: float-bob;
    -o-animation-duration: 45s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
}
.main-footer .logo-widget{
    margin-top: -12px;
}
.main-footer .logo-widget .footer-logo{
    position: relative;
    margin-bottom: 11px;
}
.main-footer .logo-widget .footer-logo-2{
    position: relative;
    margin-bottom: 21px;
    text-align: center;
}
.main-footer .logo-widget .text{
    margin-bottom: 36px;
}
.main-footer .logo-widget .footer-social li{
    position: relative;
    float: left;
    margin-right: 12px;
}
.main-footer .logo-widget .footer-social li:last-child{
    margin-right: 0px;
}
.main-footer .logo-widget .footer-social li a{
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #ffffff;
    width: 47px;
    height: 47px;
    line-height: 47px;
    background: #2f333b;
    text-align: center;
    border-radius: 50%;
}
.main-footer .logo-widget .footer-social li a:hover{
    background: #14BF98;
}
.footer-title{
    position: relative;
    font-size: 20px;
    font-family: 'Hind', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 31px;
}
.main-footer .link-widget .link-list li{
    position: relative;
    display: block;
    margin-bottom: 14px;
}
.main-footer .link-widget .link-list li:last-child{
    margin-bottom: 0px;
}
.main-footer .link-widget .link-list li a{
    position: relative;
    display: inline-block;
    color: #d4dae3;
    padding: 0px 0px 0px 15px;
}
.main-footer .link-widget .link-list li a:before{
    position: absolute;
    content: "\f105";
    font-family: 'FontAwesome';
    font-size: 16px;
    color: #d4dae3;
    left: 0px;
    top: 0px;
    transition: all 500ms ease;
}
.main-footer .link-widget .link-list li a:hover{
    color: #14BF98;
    text-decoration: underline;
}
.main-footer .link-widget .link-list li a:hover:before{
    color: #14BF98;
}
.main-footer .link-widget{
    margin-left: 70px;
}
.main-footer .event-widget .single-event .link a{
    position: relative;
    display: inline-block;
    font-size: 15px;
    line-height: 24px;
    font-family: 'Hind', sans-serif;
    color: #d4dae3;
    margin-bottom: 3px;
}
.main-footer .event-widget .single-event .link a:hover{
    color: #14BF98;
}
.main-footer .event-widget .single-event .text i:before{
    position: relative;
    font-size: 18px;
    color: #14BF98;
    margin: 0px;
    margin-right: 10px;
}
.main-footer .event-widget .single-event .text{
    font-size: 14px;
    color: #8d929b;
}
.main-footer .event-widget .single-event{
    margin-bottom: 20px;
}
.main-footer .event-widget .footer-title{
    margin-bottom: 34px;
}
.main-footer .event-widget{
    margin-right: 45px;
}
.form-group{
    position: relative;
    margin: 0px;
}
.main-footer .newsletter-widget .text{
    margin-bottom: 26px;
    line-height: 24px;
}

.main-footer .newsletter-widget .form-group{
    position: relative;
    margin-bottom: 20px;
}
.main-footer .newsletter-widget .form-group input[type='email'],input[type='text']:focus{
    border: 1px solid #14BF98;
}
.main-footer .newsletter-widget .form-group:last-child{
    margin-bottom: 0px;
}
.main-footer .newsletter-widget .form-group button i:before{
    position: relative;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    margin: 0px;
    margin-left: 10px;
    transition: all 500ms ease;
}
.main-footer .newsletter-widget .form-group button:hover i:before{
    color: #14BF98;
}
.main-footer .newsletter-widget .form-group button.theme-btn{
    padding: 10px 33px;
}
.main-footer ::-webkit-input-placeholder { /* Chrome */
    color: #d4dae3;
}
.main-footer :-ms-input-placeholder { /* IE 10+ */
    color: #d4dae3;
}
.main-footer ::-moz-placeholder { /* Firefox 19+ */
    color: #d4dae3;
}
.main-footer :-moz-placeholder { /* Firefox 4 - 18 */
    color: #d4dae3;
}
.main-footer .newsletter-widget .footer-title{
    margin-bottom: 30px;
}

/** footer-bottom **/

.footer-bottom{
    position: relative;
    background: #1c2026;
    color: #d4dae3;
    padding: 20px 0px 19px 0px;
    text-align: center;
}
.footer-bottom .copyright{
    font-weight: 500;
}
.footer-bottom .copyright a{
    color: #14BF98;
    font-weight: 500;
}
.footer-bottom .copyright a:hover{
    color: #d4dae3;
}

.footer-social{
    list-style: none;
}



/* MENU */
.dropdown-menu {
    padding: unset;
    border-radius: 0px;
}



/* card-integrantes -/
 */

.card-shadow{
    box-shadow: 6px 7px 5px 1px rgba(181,181,181,0.75);
    -webkit-box-shadow: 6px 7px 5px 1px rgba(181,181,181,0.75);
    -moz-box-shadow: 6px 7px 5px 1px rgba(181,181,181,0.75);
}

/* BOtones-/
 */
.btn-twitter{
    background-color: rgb(29, 155, 240);
    border-color: rgb(29, 155, 240);
}
.btn-twitter:hover{
    background-color: rgb(22, 124, 189);
    border-color: rgb(22, 124, 189);
}

.btn-linkedin{
    background-color: #0073b1;
    border-color: #0073b1;
}

.btn-linkedin:hover{
    background-color: #025b88;
    border-color: #025b88;
}

.btn-conicet{
    background: url("../img/conicet_logo_s_letras.png");
    background-size: 31px;
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
}
.btn-conicet:hover{
    background-color: #dadada;
    border-color: #6ea0b4;
}

.btn-block{
    width: 100%;
}


/*Landing PAge*/

.img-landing-int{
    max-height: 600px;
    margin-left: auto;
    display: block;
}

.landing-inte-back{
    background:
        url(../img/3167995.jpg);
    background-repeat: no-repeat;
    background-blend-mode: darken;
    background-position: right;
}


/*CONfiguracion genereal*/
.hidden {
    display: none;
}


/*LOGIN*/
.login-form-gruop{
    margin-bottom: 1rem;
}
.login-form-gruop .form-control{
    color: #000000;
}


.login-form-gruop .select select{
    background-color: #ffffff;
}


/*DEFINICION DE LOS BOXS*/

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid rgb(10 74 20 / 96%);
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    padding: 15px 15px 15px 15px;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}


/*
 * Component: Table
 * ----------------
 */
.table{
    color: #000000;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #f4f4f4;
}

.table > thead > tr {
    background-color: rgb(10 74 20 / 96%);
}
.table > thead > tr > th {
    border-bottom: 2px solid #f4f4f4;
    border-color: rgb(10 74 20 / 96%);
    text-align: center;
}
.table > thead > tr > th  > a{
   color: #ffffff;
}

.table>:not(:last-child)>:last-child>* {
    border-bottom-color: rgb(10 74 20 / 96%);
}


.table > tbody > tr > td{
    text-align: center;
    vertical-align: middle;
}


.table tr td .progress {
    margin-top: 5px;
}
.table-bordered {
    border: 1px solid #f4f4f4;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid rgb(10 74 20 / 96%);
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    border-bottom-width: 2px;
}
.table.no-border,
.table.no-border td,
.table.no-border th {
    border: 0;
}
/* .text-center in tables */
table.text-center,
table.text-center td,
table.text-center th {
    text-align: center;
}
.table.align th {
    text-align: left;
}
.table.align td {
    text-align: right;
}



#example2_filter{
    float: right;
}

.dataTables_length > label{
    display: inline-flex;
    align-items: baseline;
}

.dataTables_length > label > select{
    margin: 10px 10px 10px 10px;
}

.dataTables_wrapper .row{
    margin-bottom: 20px;
}

div.dataTables_wrapper div.dataTables_paginate{
    margin: 0;
    white-space: nowrap;
    text-align: right;
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
}


.dataTables_filter label input{
    margin-left: 0.5em;
    display: inline-block;
    width: auto;
}


.pagination {
    display: -ms-flexbox;
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

body.example div.dataTables_wrapper ul li, body.example div.dataTables_wrapper ol li {
    padding: 0;
    border: none !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #007bff;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}


.pagination li a {

    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: rgb(10 74 20 / 96%);
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.pagination li a:hover {

    z-index: 2;
    color: #ffffff;
    text-decoration: none;
    background-color: rgb(10 74 20 / 96%);
    border-color: rgba(9, 63, 19, 0.96);
}

.pagination .active a {

    z-index: 3;
    color: #fff;
    background-color: rgb(10 74 20 / 96%);
    border-color: rgb(10 74 20 / 96%);
}

.float-right{
    float: right;
}
.center-div{
    margin: 0 auto;
}


.date-div{

}
.date-div select{
    height: 30px;
    margin-right: 5px;
    border: 1px solid #ced4da;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    background-color: #ffffff;
}

